.signup{
    background-color: var(--bg-clr-2);
    font-family: 'Raleway', sans-serif;
}
.signup-form{
    width: 350px;
    height: 480px;
    background-color: var(--bg-clr-3);
    margin: 0 auto;
    border-radius: 5px;
}
.signup-input{
    height: 30px;
    width: 250px;
    border-radius: 25px;
    box-shadow: none;
    border: 1px solid lightgray;
    padding: 0 11px;
    font-size: 14px;
    display: flex;
    align-items: center;
    overflow: hidden;
    outline: none;
}
.signup-details{
    margin-left: 35px;
    margin-top: 15px;
}
.form-button{
    height: 30px;
    width: 100px;
    border-radius: 25px;
    box-shadow: none;
    border: none;
    padding: 0 11px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
    gap: 20px;
    color: aliceblue;
}
.signup-error{
    position: absolute;
    color: red;
    font-size: .8rem;
}


.modal-background{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(124, 123, 123, 0.9);
}
.login-div{
	background-color: var(--bg-clr-3);
    width: 350px;
    height: 320px;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
	border-radius: 5px;
	box-shadow: 5px 20px 50px #2e2e2e;
}
.form-button-login{
    height: 30px;
    width: 250px;
    border-radius: 25px;
    box-shadow: none;
    border: none;
    padding: 0 11px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 50px;
    gap: 20px;
    color: aliceblue;
}
.cross-icon{
    position: fixed;
    top: 15%;
    left: 96%;
    cursor: pointer;
}